

.resultContainer{
    margin-top:3rem;
}

.resultHeader{
    font-size:2rem;
    text-decoration:underline;
    color:#fff; 
}

.resultDetailsContainer{
    margin-top:2rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.resultDetailsHeader{
    font-size:1.2rem;
    font-family: "Barlow", sans-serif;
    color:#0bdfe6;
}

.resultDetailsSpeech{
    font-size:2rem;
    font-family: "Barlow", sans-serif;
    color:#0bdfe6;
}

.resultDetailsParagraph{
    font-size:1.3rem;
    font-family: "Barlow", sans-serif;
    text-transform:capitalize;
    color:#fff;
    margin-bottom:1rem;
}

.resultDetailsListContainer{
    font-size:1rem;
    font-family: "Barlow", sans-serif;
    color:#fff;
    list-style-position:inside;
    margin-bottom:1.5rem;
}

.resultDetailsListPresent{
    display:block;
    margin-top:0.5rem;
}

.resultDetailsListAbsent{
    display:none;
    /* margin-top:1rem; */
}

.resultDetailsAntonymListContainer{
    font-size:1rem;
    font-family: "Barlow", sans-serif;
    color:#fff;
    list-style-type:square;
    list-style-position:inside;
    /* margin-bottom:0.5rem; */
}

.resultDetailsAntonymList{
    text-transform:capitalize;
}

.resultDetailsSynonymListContainer{
    font-size:1rem;
    font-family: "Barlow", sans-serif;
    color:#fff;
    list-style-type:square;
    list-style-position:inside;
    /* margin-bottom:0.5rem; */
}

.resultDetailsSynonymList{
    text-transform:capitalize;
}






















@media screen and (min-width:425px) {

    .resultDetailsHeader{
        font-size:1.3rem;
    }
    
    .resultDetailsSpeech{
        font-size:2.1rem;
    }
    
    .resultDetailsParagraph{
        font-size:1.4rem;
    }
    
    .resultDetailsListContainer{
        font-size:1.1rem;
    }

    .resultDetailsAntonymListContainer{
        font-size:1.1rem;
    }
    
    .resultDetailsSynonymListContainer{
        font-size:1.1rem;
    }
}






















@media screen and (min-width:1024px) {

    .resultHeader{
        font-size:2.6rem;
        text-decoration:underline;
        color:#fff; 
    }

    .resultDetailsHeader{
        font-size:1.5rem;
    }
    
    .resultDetailsSpeech{
        font-size:2.5rem;
    }
    
    .resultDetailsParagraph{
        font-size:1.7rem;
    }
    
    .resultDetailsListContainer{
        font-size:1.4rem;
    }

    .resultDetailsAntonymListContainer{
        font-size:1.4rem;
    }
    
    .resultDetailsSynonymListContainer{
        font-size:1.4rem;
    }
}